.splash-screen {
  background-color: #202020;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border: 6px solid #434040;

  h1 {
    font-size: 50px;
  }
  .splash-loader {
    font-size: 70px;
  }
}
